<section class="w-screen h-auto bg-cover bg-center relative overflow-hidden">
    <div class="bg-white py-16 px-4 md:px-8 h-full">
        <div class="flex flex-col md:flex-row justify-between md:gap-8 max-w-7xl mx-auto items-center space-y-8 md:space-y-0">
            <!-- left  -->
            <div class="flex-1 w-full mb-6 md:mb-0">
                <div class="relative">
                    <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fGNvbW11bml0eSUyMGdhdGhlcmluZ3xlbnwwfHx8fDE2ODk1Njc3NDI&ixlib=rb-4.0.3&q=80&w=800"
                        alt="Community gathering showing diverse group of neighbors"
                        class="w-full h-auto rounded-2xl shadow-2xl transition-transform duration-300">
                </div>
            </div>
            <!-- right -->
            <div class="flex-1 w-full space-y-6 md:space-y-8 items-center">
                <div>
                    <h3 class="text-[40px] md:text-[50px] font-bold text-gray-900 mb-2 ">
                        Join the Movement for a Stronger Neighborhood Community!
                    </h3>
                </div>
                <div class="space-y-4">
                    <p class="text-base sm:text-lg text-gray-600">
                        Discover how easy it is to connect with neighbors who are ready to help. Whether you need
                        assistance or can lend a hand, this platform is built for you.
                    </p>
                    <p class="text-base sm:text-lg text-gray-600">
                        Help your neighbors, exchange skills, and build a stronger community. Sign up today to
                        experience the power of local support and connection.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>