<section class="layout-container">
    <div class="w-full h-screen" id="home">
        <div class="absolute inset-0 bg-cover bg-center bg-no-repeat z-0"
            style="background-image: url('/INFEST2025/INFEST-Web/src/assets/bg.png')"></div>
        <div class="hero-content relative z-10">
            <div class="hero-text">
                <p class="hero-subtitle">Together We Thrive</p>
                <h1 class="hero-title-1">Need any help?</h1>
                <h2 class="hero-title-2">We got you!</h2>
            </div>
            <div class="hero-stats">
                <div>
                    <h1>14</h1>
                    <p>Helped</p>
                </div>
                <div>
                    <h1>5</h1>
                    <p>Requests Mode</p>
                </div>
                <div>
                    <h1>92%</h1>
                    <p>Response Rate</p>
                </div>
            </div>
            <div class="hero-buttons">
                <a href="LoginRegister.php">Join Now</a>
                <a href="#ProductsAvailable">See Products Available</a>
            </div>
            <div class="hero-caption">
                <p>Join our verified local help exchange platform where neighbors empower each other. Discover the joys
                    of
                    giving and receiving support in your community.</p>
      </div>
    </div>
</section>

<style>
    .layout-container {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
    }
</style>