<section class="layout-container1">
        <div class="bg-white py-16 px-8 md:py-12 md:px-6 sm:px-4">
            <div class="max-w-7xl mx-auto">
                
                <div class="flex md:flex-col gap-12 md:gap-8 items-center">
                    <!-- left  -->
                    <div class="flex-1 space-y-8 md:space-y-6 sm:space-y-4">
                        <div>
                            <h3 class="text-[50px] md:text-2xl sm:text-2xl font-bold text-gray-900 leading-tight md:leading-snug">
                                Join the Movement for a Stronger Neighborhood Community!
                            </h3>
                        </div>
                        <div>
                            <p class="text-lg md:text-base sm:text-sm text-gray-600 leading-relaxed">
                                Discover how easy it is to connect with neighbors who are ready to help. Whether you need
                                assistance or can lend a hand, this platform is built for you.
                            </p>
                        </div>
                      

                    <!-- right  -->
                    <div class="flex-1 pl-8 md:pl-0 md:mt-6 sm:mt-4">
                        <div class="relative">
                           <img src="/INFEST2025/INFEST-Web/src/assets/m_image.png" 
                                class="w-full h-auto rounded-2xl shadow-2xl hover:scale-105 transition-transform duration-300">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>