<section class="w-screen h-auto bg-cover bg-center relative overflow-hidden">
    <div class="bg-white py-16 px-8 md:px-4 h-full">
        <div class="flex justify-between  md:gap-8  max-w-7xl mx-auto items-center space-y-12">
            <!-- left  -->
            <div class="flex-1">
                <div class="relative">
                    <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDF8fGNvbW11bml0eSUyMGdhdGhlcmluZ3xlbnwwfHx8fDE2ODk1Njc3NDI&ixlib=rb-4.0.3&q=80&w=800"
                        alt="Community gathering showing diverse group of neighbors"
                        class="w-full h-auto rounded-2xl shadow-2xl transition-transform duration-300">
                </div>
            </div>
            <!-- right -->
            <div class="flex-1 space-y-8 items-center md:space-y-6">
                <div>
                    <h3 class="text-[80px] md:text-3xl font-bold text-gray-900">
                        Join the Movement for a Stronger Neighborhood Community!
                    </h3>
                </div>
                <div>
                    <p class="text-lg md:text-base text-gray-600">
                        Discover how easy it is to connect with neighbors who are ready to help. Whether you need
                        assistance or can lend a hand, this platform is built for you.
                    </p>
                    <p class="text-lg md:text-base text-gray-600">
                        Discover how easy it is to connect with neighbors who are ready to help. Whether you need
                        assistance or can lend a hand
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>