<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnityGrid Database</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <ul class="list-disc list-inside space-y-3 pl-4 ">
        <li class="text-xl font-bold mb-2 text-blue-600 underline " >
            <a href="../components/database/statusDB.php">
                status Table
            </a>
        </li>
        <li class="text-xl font-bold mb-2 text-blue-600 underline">
            <a href="../components/database/responses.php">
                response Table
            </a>
        </li>
        <li class="text-xl font-bold mb-2 text-blue-600 underline">
            <a href="../components/database/categories.php">
                categories Table
            </a>
        </li>
        <li class="text-xl font-bold mb-2 text-blue-600 underline">
            <a href="../components/database/help_requests.php">
                help_request Table
            </a>
        </li>
        <li class="text-xl font-bold mb-2 text-blue-600 underline">
            <a href="../components/database/user.php">
                users Table
            </a>
        </li>
        <li class="text-xl font-bold mb-2 text-blue-600 underline">
            <a href="../components/database/exchange_informations.php">
                exchange_information Table
            </a>
        </li>
    </ul>


</body>

</html>