<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UnityGrid Dashboard</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <ul class="flex flex-col justify-center">
        <li class="text-xl font-bold mb-4">
            <a href="userDB">
                status Table
            </a>
        </li>
        <li class="text-xl font-bold mb-4">
            <a href="userDB">
                response Table
            </a>
        </li>
        <li class="text-xl font-bold mb-4">
            <a href="userDB">
                categories Table
            </a>
        </li>
        <li class="text-xl font-bold mb-4">
            <a href="userDB">
                help_request Table
            </a>
        </li>
        <li class="text-xl font-bold mb-4">
            <a href="../components/database/userDB.php">
                users Table
            </a>
        </li>
        <li class="text-xl font-bold mb-4">
            <a href="userDB">
                exchange_information Table
            </a>
        </li>
    </ul>


</body>

</html>